@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700;800&family=Madimi+One&family=Montserrat:wght@400;600;700&family=Numans&family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Paytone+One&family=Rowdies:wght@300;400;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #FCF8E8;
    /* overflow: hidden; */
}


.wrapper {
    display: flex;
    position: relative;
}

.logo {
    z-index: 2999;
    /* width: 250px; */
    height: 125px;
    right: 0;
    ;
    margin-left: 200px;
    position: absolute;
}

.banner {
    top: 0;
    width: 250px;
    height: 100%;
    position: fixed;
}

.banner {
    background-color: #DF7861;
    background-image: linear-gradient(135deg, #FCF8E8 50%, transparent 50%), linear-gradient(45deg, #FCF8E8 50%, transparent 50%), linear-gradient(-135deg, #FCF8E8 50%, transparent 50%), linear-gradient(-45deg, #FCF8E8 50%, transparent 50%);
    background-position: top left, top left, top right, top right;
    background-size: 50px 50px;
    background-repeat: repeat-y;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.banner .title {
    font-size: 95px;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-family: "Paytone One", sans-serif;
    transform: rotate(-90deg);
    white-space: nowrap;
}

.navbar {
    top: 0;
    left: 0;
    width: 98%;
    z-index: 999;
    padding: 20px 10px;
    position: fixed;
    background: #FCF8E8;
    display: flex;
    justify-content: start;
    margin-left: 250px;
}

.navbar ul {
    gap: 35px;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.navbar ul a {
    font-size: 17px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.navbar ul a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navbar ul a:hover::after {
    visibility: visible;
    width: 100%;
}

.wrapper .main-content {
    width: 100%;
    margin-left: 250px;
    padding: 0 25px;
    grid-area: content;
    margin-top: 75px;
}

.home p {
    font-size: 20px;
}

.container {
    gap: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
}

.container img {
    width: 450px;
    height: 450px;
    margin-right: 20px;
    margin-top: 25px;
}

.container a {
    text-align: center;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 35px;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none;
    background: #29adb2;
    border-radius: 15px;
    width: 120px;
}

.about-section {
    padding: 20px;
}

.about-header {
    text-align: center;
}

.about-header h2 {
    font-size: 50px;
    color: #333;
}

.about-content {
    gap: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.left-content {
    flex: 1;
    text-align: justify;
}

.right-content {
    flex: 1;
    text-align: justify;
}

.left-content img,
.right-content img {
    max-width: 100%;
    height: fit-content;

}

.left-paragraph,
.right-paragraph {
    font-size: 20px;
    margin-bottom: 20px;
}

.team {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.team h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.photo-container {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.image {
    width: 175px;
    height: 225px;
    border-radius: 15px;
    object-fit: cover;
}

.instagram-link {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.instagram-link img {
    width: 40px;
    height: 40px;
}

.name {
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}







.contact {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #29adb2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #29adb2;
}



.title-theme {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    height: 200px;
    margin: 10px;
    perspective: 1000px;
}

.card__front,
.card__back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card__front {
    background-color: #29adb2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
}

.card__back {
    background-color: linear-gradient(135deg, #29adb2, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.card:hover .card__front {
    transform: rotateY(180deg);
}

.card:hover .card__back {
    transform: rotateY(0deg);
}

.card__title {
    font-size: 18px;
    text-align: center;
}

.card__description {
    font-size: 14px;
    text-align: center;
}

.theme-heading {
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}






.prize-section {
    text-align: center;
    padding: 50px 0;
}

.prize-title {
    font-size: 36px;
    font-weight: bold;
}

.prize-image {
    width: 200px;
    height: 200px;
    background-image: url('./assets/first-prize-golden-trophy-with-winner-banner-vector-27893822-removebg-preview.png');
    /* Replace 'your-image-url.jpg' with the image path */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    animation: floatAnimation 4s infinite alternate;
    /* Floating animation */
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.prize-pool {
    font-size: 24px;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.prize-section:hover .prize-pool {
    opacity: 1;
}